{{ define "main" }}
    <div class="div-projects">
        <ul class="ul-projects">
            {{ range .Site.Menus.main }}
                {{ if .Params.Portfolio }}
                    <li class="li-projects">
                        <a href="{{ .URL }}">
                            <img src="{{ .URL }}/thumb.png" class="thumb" alt="{{ .Name }}">
                            <br>
                            {{ .Name }}
                        </a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
    </div>
{{ end }}